.CustomForm{
    padding: 10px;
    border: 1px solid #E0E1E5;
    display: flex;
    flex-direction: row;
    gap: 15px;
   justify-content: center;
   width: 20%;
   min-width: 380px;
   margin: 0 auto;
   margin-top: 10vh;
   border-radius: 10px;
}
.CustomForm div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    
}
.CustomForm div input, .CustomForm div select{
    padding: 10px;

} 
.CustomForm div input{
    background-color: #F1F2F5;
    border: none;
    border-bottom: 1px solid #8C8C8E;
    border-radius: 5px 5px 0px 0px;

}
.CustomForm div select{
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}