.Header{
    background-color: white;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.19); 
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.19);
    padding: 20px;
    display: flex;
    justify-content:center;
    gap: 20px;
    font-size: 20px;
}